#hero-section {
    background: 
        linear-gradient(to top, rgb(26, 0, 41), 30%, transparent),
        linear-gradient(to bottom, rgb(26, 0, 41), 30%, transparent),
        url(image/473774269_903573605266368_721527982295220949_n.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0;
}